* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li{
    list-style-type: none;
}

.mainNav {
    background-color: #f7f7f7; // Светлый фон
    color: #fff;
    width: 100%;
}

.mainContainer {
    display: flex;
    align-items: center; /* Выровнять все элементы по центру */
    justify-content: space-between;
    max-width: 1350px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    height: 60px; 
}

.leftSide,
.rightSide {
    display: flex;
    align-items: center; /* Выровнять элементы внутри списков по центру */
}

.leftSide li,
.rightSide li {
    margin: 0 10px;
    font-weight: 600;
    list-style: none;
    transition: color 0.3s ease;

}

.leftSide li:hover, .rightSide li:hover {
    color: #d18b47; // Теплый оттенок при наведении
}
.rightSide button {
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    margin-right: 10px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 1.0em;
    color: #333;
    background-color: #fff;
    outline: none;

    &::placeholder {
        color: #aaa;
    }
}
input[type="text"]::placeholder {
    color: #888;
}

/* Медиа-запрос для уменьшения текста на более узких экранах */
@media (max-width: 1300px) {
    .leftSide li, .rightSide li {
        font-size: 0.9em;
    }

    .rightSide input[type="text"] {
        font-size: 0.8em;
    }
}
.link, a, p{
    text-decoration: none;
}
.brDiv {
    height: 15px;
    background-color: blue;
}
.header {
    background-color: #f7f7f7; // Светлый фон
    box-shadow: 0 2px 15px rgba(0, 76, 255, 0.1);
    padding: 40px;
    width: 100%;
    position: sticky;
    top: 0; 
    z-index: 1000; 
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
}

.logo img {
    height: 50px;
    width: 100%;
}

.title {
    text-align: center;

    h1 {
        margin: 0;
        font-size: 35px;
        color: #333;
        font-family: Arial, Helvetica, sans-serif;
    }

    p {
        margin: 0;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        color: #777;
    }

    &:hover {
        h1 {
            color: blue;
        }

        p {
            color: blue;
        }
    }
}
.phoneNumber h1{
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}
.actions {
    display: flex;
    align-items: center;
    gap: 15px;
    .MuiButtonBase-root {
        margin-right: 10px;
        color: #333;
    }

    .languages {
        list-style: none;
        display: flex;
        gap: 10px;

        li {
            cursor: pointer;
            font-size: 14px;
            color: #3a4d96;
            font-family: Arial, Helvetica, sans-serif;

            &:hover {
                color: #333;
                text-decoration: underline;
            }
        }
    }
}
.actions input{
    border: none;
    width: 65px;
    text-align: left;
    height: 30px;
}
.burgerMenu {
    display: none;
    cursor: pointer;

    svg {
        font-size: 30px;
        color: #333;
    }
}

/* Навигация */
.headerNav {
    position: relative;
    background-color: #f7f7f7; // Изменение: светлый фон для навигации
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    margin: 0 auto;
    height: 70px;
    box-shadow: 0 2px 15px rgba(0, 76, 255, 0.1);
    // position: sticky;
    // top: 0;
    // z-index:    0;
}

.headerUl {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;

}
.searchText {
    font-size: 24px; 
    color: #5d5fe1; 
    font-family: 'Arial', sans-serif;
    margin-right: 10px; 
}


/* Общие стили для навигации */
.headerNav {
    background-color: #ffffff; // Изменение: светлый фон для выпадающего меню
    padding: 15px 0;
    width: 100%; /* Занимает всю ширину экрана */
}
.navContainer {
    max-width: 1300px; /* Ограничение максимальной ширины */
    margin: 0 auto; /* Центрирует контейнер */
    padding: 0 20px; /* Добавляет отступы по бокам */
    display: flex;
    align-items: center;
    justify-content: center;
}
.headerUl {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    column-gap: 150px;
}

.navLi {
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    padding: 10px 0px;
    transition: color 0.3s ease-in-out;
    font-size: 18px;
    font-weight: 600;

    &:hover .dropdownContent {
        display: block;
    }
}

.navLi:hover {
    color: orange;
}

.dropdownContent {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    width: 100%; /* Меню занимает полную ширину родителя */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 20px; /* Отступы вокруг текста */
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    border-radius: 8px;
    transform: translateY(-10px);
    height: auto; /* Высота подстраивается под контент */
    max-height: 450px; /* Максимальная высота */
    overflow-y: auto; /* Прокрутка, если контент не помещается */
    display: flex;
    flex-wrap: wrap; /* Перенос элементов на новую строку */
    gap: 15px; /* Расстояние между элементами */
    box-sizing: border-box; /* Учитываем padding в размере блока */
}

/* Анимация появления */
.navLi:hover .dropdownContent {
    display: flex;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdownContent h1 {
    width: 100%; /* Заголовок на всю ширину */
    margin-bottom: 10px;
    font-size: 20px;
    color: #333; /* Цвет текста */
}

.dropdownContent a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

.dropdownContent a:hover {
    color: orange; /* Изменение цвета ссылок при наведении */
}

.dropdownContentFirstDiv {
    display: flex;
    column-gap: 25px;
    padding: 8px;
    max-width: 700px; /* Ограничение ширины для первого блока */
    overflow-wrap: break-word; /* Перенос длинного текста */
}
.dropdownContentFirstDiv h1{
    color: black;
}
.dropdownContentSecondDiv {
    display: grid; // Use grid layout for items
    grid-template-columns: repeat(3, 1fr); // 3 columns
    gap: 15px; // Space between items
    // padding: 20px; // Padding around
    border-left: 1px solid #ddd;
    padding-left: 10px;
}

// Styles for items in the second dropdown
.dropdownContentSecondDiv p {
    font-size: 21px; // Larger font size
    color: #000000;
    width: 150px;
    height: 60px;
    transition: background-color 0.3s ease, transform 0.3s ease; // Transition effects
}


/* Стили для параграфов внутри */
.dropdownContent p {
    list-style-type: none;
    text-decoration: none;  
    margin: 8px 0;
    padding: 8px;
    font-size: 17px;
    color: #000000;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Анимация фона и трансформации */
}
.dropdownContent h1{
    font-size: 18px;
}


/* Эффект при наведении на элементы выпадающего меню */
.dropdownContent p:hover {
    background-color: #e3e3e3; /* Цвет фона при наведении */
    border-radius: 5px;
    transform: scale(1.05); /* Эффект масштабирования при наведении */
}

/* Улучшение стилей для элементов списка */
.dropdownContent p {
    padding: 10px 15px; /* Улучшенное выравнивание */
    border-radius: 4px; /* Скругленные углы */
    cursor: pointer; /* Курсор указывает на кликабельность */
}

/* Эффект затемнения для родительского элемента при наведении */
.navLi:hover {
    background-color: rgba(0, 0, 0, 0.05); /* Легкое затемнение фона родительского элемента */
    transition: background-color 0.3s ease; /* Плавное изменение фона */
}

/* Добавление стилей для улучшения визуального восприятия */
.dropdownContent p {
    font-family: Arial, sans-serif; /* Шрифт */
    font-weight: 500; /* Увеличенная жирность текста */
}

.link {
    color: #000; /* Замените на желаемый цвет */
    text-decoration: none; /* Убирает подчеркивание */
}
.linkNav{
    color: white;
    text-decoration: none; /* Убирает подчеркивание */
}
.linkNav:hover{
    color: orange;
}

.link:hover {
    color: #555; /* Цвет при наведении */
}
li{
    color: black;
}
@media (max-width: 768px) {
    .mainNav{
        display: none;
    }
    .dropdownContent {
        min-width: 100%; 
        left: 0; 
    }
    .navLi:hover .dropdownContent {
        display: block; /* Показываем меню при наведении */
        opacity: 1;
        margin-top: 8px;
        visibility: visible;
        transform: translateY(0);
    }
    .navLi:hover .dropdownContent {
        position: relative; 
        top: 0; 
    }
    .actions {
        display: none;
    }
    .headerUl{
        list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    align-items: flex-start;
    }
    .title{
        margin-right: 150px;
    }
    .burgerMenu {
        display: block;
    }

    .header {
        padding: 20px;
    }

    .mobileMenu {
        position: fixed;
        top: 0;
        left: 0;
        width: 70%;
        height: 100%;
        background-color: #fff;
        box-shadow: 0 2px 15px rgba(0, 76, 255, 0.1);
        z-index: 1001;
        padding: 20px;
        transition: left 0.3s ease-in-out;
        overflow-y: auto;
    }
    .searchMenu{
        display: flex;
        text-align: center;
        margin-top: 10px;
        margin-left: -10px;
    }
    .mobileMenuOpen {
        left: 0;
    }

    .mobileMenuHeader {
        text-align: center;
        border-bottom: 1px solid #b5b7bc;
        padding: 15px;
    }

    .mobileMenuHeader h1 {
        font-size: 19px;
        font-weight: bold;
        margin-bottom: 0;
        padding-bottom: 5px;
        animation: slideIn 0.5s ease;
        font-family: 'Arial', sans-serif;
    }

    .mobileMenuHeader p {
        font-size: 16px;
        font-style: italic;
        color: #555;
        margin-bottom: 20px;
        animation: fadeIn 0.6s ease;
    }

    .headerNav {
        display: none;
    }

    .logo img {
        display: block;
    }

    .headerContainer h1 {
        font-size: 19px;
    }

    .headerContainer p {
        font-size: 0px;
    }

    .mobileMenuNav {
        list-style: none;
        margin-top: 0px;        
    }

    .mobileMenuNav li {
        font-size: 15.5px;
        color: #333;
        margin: 15px 0;
        cursor: pointer;
        transition: color 0.3s ease, transform 0.3s ease;
        position: relative;
        animation: fadeInUp 0.4s ease;
        font-family: 'Arial', sans-serif;
    
    }

    .mobileMenuNav li::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: #cecece;
        margin-top: 5px;
    }

    .mobileMenuNav li:hover {
        color: #3a4d96;
    }
    .mobileMenuNav li {
        font-size: 15.5px;
        color: #333;
        margin: 15px 0;
        cursor: pointer;
        transition: color 0.3s ease, transform 0.3s ease;
        position: relative;
        animation: fadeInUp 0.4s ease;
        font-family: 'Arial', sans-serif;

        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background-color: #cecece;
            margin-top: 5px;
        }

        &:hover {
            color: #3a4d96;
        }
    }
    .mobileLanguages {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
        padding-top: 10px;
    }

    .mobileLanguages li {
        font-size: 16px;
        cursor: pointer;
        transition: color 0.3s ease;
        animation: fadeInUp 0.6s ease;
        list-style-type: none;
        font-family: 'Arial', sans-serif;
    }

    .mobileLanguages li:hover {
        color: #3a4d96;
    }

    .mobileLanguages li::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: #004cff;
        margin-top: 5px;
    }

    .mobileActions{
        margin-top: 50px;
        margin-left: 15px;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes slideIn {
        from {
            transform: translateX(-100%);
        }
        to {
            transform: translateX(0);
        }
    }
}


